

<div class="image-background"></div>

<body>

    <div class="image-background"></div>
    <div class="container">
        <div class="left-panel">
            <h1>Bem-vindo</h1>
            <p>Registre-se para continuar</p>
            <div class="logo-container">

              <img src="assets/logo.jpg" alt="Astronauta" class="logo">

            </div>

            <br>
            <br>
          
          </div>
          
      <div class="right-panel">
        <br>
        <form (ngSubmit)="register()" class="register-form">
          <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="user.nome" name="nome" required>
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Nome de Usuário" [(ngModel)]="user.username" name="usuario" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Senha" [(ngModel)]="user.password" name="password" required>
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        
          <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" required>
          </mat-form-field>      

          <mat-form-field>
            <input matInput placeholder="CPF/CNPJ" [(ngModel)]="user.cpfCnpj" name="cpfCnpj" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Telefone" [(ngModel)]="user.phone" name="phone">
          </mat-form-field>
        
          <button mat-raised-button color="primary">Registrar</button>
        </form>
  
      </div>
    </div>

    </body>
