.starry-background {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #000 0%, #2B0041 100%); 
    position: relative;
    overflow: hidden;
  
    .star {
      position: absolute;
      background-color: rgba(255, 255, 255, 1);
      border-radius: 50%;
      box-shadow: 
        0 0 10px rgba(255, 255, 255, 1),
        0 0 20px rgba(238, 130, 238, 0.8),
        0 0 30px rgba(238, 130, 238, 0.6);
      animation: moveStar 400s infinite linear; 
    }
  
    @keyframes moveStar {
      0% {
        transform: translateY(0) scale(1);
      }
      50% {
        transform: translateY(50vh) scale(1.2); 
      }
      100% {
        transform: translateY(100vh) scale(1);
      }
    }
  }
  