<app-star-background class="cosmic-login">
  <div class="login-container">
    <form (ngSubmit)="login()">
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="credentials.login" name="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Senha" [(ngModel)]="credentials.password" name="password" type="password">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </form>
    <div class="additional-links">
      <a href="#">Esqueceu a senha?</a>
      <span>|</span>
      <a href="#">Registrar</a>
    </div>
  </div>
</app-star-background>
